:root {
  --f7-ios-primary: #3E84F7;
  --f7-ios-primary-shade: #3E84F7;
  --f7-ios-primary-tint: #3E84F7;
  --f7-bars-translucent-blur: 2px;
  --f7-tabbar-icon-size: 20px;
  --f7-theme-color-rgb: var(--f7-ios-primary);
  --f7-block-inset-border-radius: 23px;
  --f7-list-inset-border-radius: 25px;
  --f7-card-border-radius: 26px !important;
  --f7-bars-translucent-blur: 4px;
}

.ios {
    --f7-theme-color: #b9cefb;    
    --f7-theme-color-shade: #b9cefb;
    --f7-theme-color-tint: #b9cefb;
    --f7-toolbar-height: 46px!important;
  --f7-toolbar-font-size: 14px;
  --f7-tabbar-icons-height: 70px;
  --f7-tabbar-label-font-size: 10px; 
}

.ios .color-primary,
.ios.color-primary {
    --f7-theme-color: #b9cefb;
    --f7-theme-color-shade: #b9cefb;
    --f7-theme-color-tint: #b9cefb;
}
.page-content {
    max-height: 100%;
    max-width: 100%;
}
.page {
    background-image: url('https://9to5mac.com/wp-content/uploads/sites/6/2025/06/iPadOS_26_Dark.jpg?resize=1536,2048');
      background-size: cover;
      background-position: center;
}

.source-code{font-size:20px;color:#fff;font-weight:bold;!important}
.card {
    background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(7px) saturate(180%);
   backdrop-filter: url(#liquid-filter) blur(1px)!important;
    -webkit-backdrop-filter: url(#liquid-filter) blur(1px)!important;
  box-shadow:
    0px 0px 0px 2px rgba(255, 255, 255, 0.05) inset,
    0px 0px 100px 10px rgba(255, 255, 255, 0.05) inset,
    0 0.5px 0px rgba(255, 255, 255, 0.525) inset;
  transition: all 0.3s ease;
}
.toolbar-pane{   backdrop-filter: url(#liquid-filter) blur(1px)!important;
    -webkit-backdrop-filter: url(#liquid-filter) blur(1px)!important;}
.list{font-size:auto;!important 
    color:#fff;!important}
.item-media img {
    background-color: #C2C2C2;
    width: 60px;
    height: 60px;
    border-radius: 23.3%;
}

img {
    pointer-events: none;
}
.source-code{font-size:20px;color:#fff;font-weight:bold;!important}
.source-code i{font-size:20px;!important}
.concept-img {
    width: 97%;
    border-radius: 20px;
}
.item-title{font-size:auto;color:#fff;!important}
.item-subtitle{font-size:auto;color:#fff;!important}

.block-title {
    font-size: auto;
    color: #fff;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: fixed;
    overflow: hidden;
    font-size: auto;
    color: #fff;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}

.list.separated li {
    margin-top: 10px;
    background: var(--f7-list-strong-bg-color);
    border-radius: var(--f7-list-inset-border-radius);
}

.list.separated ul {
    background: transparent;
}

    .list.separated.glass li {
  background: rgba(255, 255, 255, 0.13)!important;
   backdrop-filter: url(#liquid-filter) blur(1px);
    -webkit-backdrop-filter: url(#liquid-filter) blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0px 0px 0px 2px rgba(255, 255, 255, 0.05) inset,
    0px 0px 100px 10px rgba(255, 255, 255, 0.05) inset,
    0 0.5px 0px rgba(255, 255, 255, 0.525) inset;
}

..list.separated.glass li::before {
  content: "";
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.25), transparent 70%);
  mix-blend-mode: screen;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.list.separated .item-inner:after {
    content: none;
}


.popup {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-expandable {
    border-radius: 23px;
}

.item-media ion-icon {
    font-size: 27px;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.button-raised {
    border-radius: 10px;
}

.button-large {
    border-radius: 15px;
}

.swipe-nav {
    background: var(--handler-navbar-bg);
    position: absolute;
    justify-content: center;
    -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
    z-index: 500;
    display: flex;
    height: 17px;
    width: 100%;
    backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
    align-items: center;
}

.swipe-nav i {
    font-size: 60px;
    color: gray;
}

.newsimg {
    width: 300px;
    border-radius: 20px;
    margin-right: 2px;
}

.profile-pic {
    border-radius: 999px;
    width: 50%;
}

@media only screen and (min-width: 500px) {
    #app {
        padding-left: 30%;
        padding-right: 30%;
    }
}
